<img src="./img/Logo-Pokemon.jpg" width=20%>

<div ng-show="currentQuestion" align="center">
    <h2>Question {{nbQuestions}} :</h2>

    <div ng-show="currentQuestion.length">
        {{currentQuestion[0].question}}<br>
        <select ng-model="selectedOptions"
                ng-options="question.name for question in currentQuestion"></select>
        <button ng-click="setUserResponseOption()">Valider</button>
    </div>

    <div ng-hide="currentQuestion.length">
        {{currentQuestion.question}}
        <button ng-click="setUserResponse(true)">Oui</button>
        <button ng-click="setUserResponse(false)">Non</button>
    </div>
</div>

<div ng-show="conclusion" align="center">
    {{conclusion.label}}<br>
    <img src="./img/{{conclusion.name}}.gif"><br>
    Conclusion trouvée en {{nbQuestions}} questions.
</div>

<div ng-show="!currentQuestion && !conclusion" align="center">
    <h3>Pas de données dans la base de connaissance.</h3>
    <img src="./img/noData.gif">
</div>