<div align="center">
    <img src="./img/Logo-Pokemon.jpg" width=35%>
</div>
<div ng-show="currentQuestion" align="center">
    <h2>Question {{nbQuestions}} :</h2>

    <div ng-show="currentQuestion.length">
        {{currentQuestion[0].question}}<br>
        <select ng-model="selectedOptions"
                ng-options="question.name for question in currentQuestion"></select>
        <button ng-click="setUserResponseOption()">Valider</button>
    </div>

    <div ng-hide="currentQuestion.length">
        <h5>{{currentQuestion.question}}</h5>
        <button ng-click="setUserResponse(true)">Oui</button>
        <button ng-click="setUserResponse(false)">Non</button>
    </div>
</div>

<div ng-show="conclusion" align="center">
    <h5>{{conclusion.label}}</h5><br>
    <img src="./img/{{conclusion.name}}.gif"><br>
    <h5>Conclusion trouvée en {{nbQuestions}} questions.</h5>
</div>

<div ng-show="!currentQuestion && !conclusion" align="center">
    <h3>Pas de données dans la base de connaissance.</h3>
    <img src="./img/noData.gif">
</div>