<div class="row">
    <div class="col-md-6">
        <h2>Add a conclusion</h2>
        <form class="form-inline">
            <input ng-model="newConclusionName" placeholder="Conclusion name" class="form-control"> :
            <input ng-model="newConclusionFacts" placeholder="Facts (separated by ,)" class="form-control">
            <button ng-click="addConclusion()" class="btn btn-primary">Add conclusion</button>
        </form>

        <br><br>
        <button ng-click="clearConclusions()" class="btn btn-danger">Clear conclusions</button>
    </div>

    <div class="col-md-6">
        <h2>Existing conclusions</h2>
        <ul>
            <li ng-repeat="conclusion in conclusions">
                {{conclusion.name}}: <span ng-repeat="facts in conclusion.facts">, {{fact}}</span>
            </li>
        </ul>
    </div>
</div>