<div class="row">
    <div class="col-md-6">
        <h2>Add a conclusion</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="conclusionName" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                    <input ng-model="newConclusionName" id="conclusionName" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="conclusionLabel" class="col-sm-2 control-label">Label</label>

                <div class="col-sm-10">
                    <input ng-model="newConclusionLabel" id="conclusionLabel" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="conclusionPriorite" class="col-sm-2 control-label">Priorité</label>

                <div class="col-sm-10">
                    <input ng-model="newConclusionPriorite" id="conclusionPriorite" class="form-control" type="number">
                </div>
            </div>

            <div
                    multi-select
                    input-model="conclusionFacts"
                    output-model="newConclusionFacts"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    >
            </div>

            <br><br>
            <button ng-click="addConclusion()" class="btn btn-primary">Add conclusion</button>
            <button ng-click="updateConclusion()" class="btn btn-success">update conclusion</button>
        </form>

        <h2>Add a new fact</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="newFactName" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                    <input ng-model="newFactName" id="newFactName" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="newFactQuestion" class="col-sm-2 control-label">Question</label>

                <div class="col-sm-10">
                    <input ng-model="newFactQuestion" id="newFactQuestion" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="newFactGroup" class="col-sm-2 control-label">Groupe</label>

                <div class="col-sm-10">
                    <input ng-model="newFactGroup" id="newFactGroup" class="form-control">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="newFactType" name="factType" id="factTypeInitial" value="initial">
                        Initial
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="newFactType" name="factType" id="factTypeIntermediate" value="intermediate">
                        Intermediate
                    </label>
                </div>
            </div>

            <br><br><br>

            <div
                    multi-select
                    input-model="factFacts"
                    output-model="newFactParents"
                    button-label="name"
                    item-label="name"
                    tick-property="ticked"
                    ng-show="newFactType=='intermediate'">
            </div>

            <br><br>
            <button ng-click="addFact()" class="btn btn-primary">Add Fact</button>
        </form>

        <h2>Import Json Database</h2>
        <textarea ng-model="jsonDatabase" class="form-control"></textarea><br>
        <button ng-click="importDatabase()" class="btn btn-default">Import</button>
        <button ng-click="clearConclusions()" class="btn btn-danger">Clear conclusions</button>
    </div>

    <div class="col-md-6">
        <table class="table table-hover">
            <tr>
                <h2>Existing conclusions</h2>
            </tr>
            <tr ng-repeat="conclusion in conclusions">
                <td>
                    <ul><li>{{conclusion.name}}: <span ng-repeat="fact in conclusion.facts"> {{fact}}</span></li></ul>
                </td>
                <td>
                    <button ng-click="editConclusion(conclusion)" class="btn btn-default btn-sm">
                        Edit
                    </button>
                    <button ng-click="deleteConclusion(conclusion.name)" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>
            </tr>
        </table>

        <table class="table table-hover">
            <tr>
                <h2>Existing facts</h2>
            </tr>
            <tr ng-repeat="fact in facts">
                <td>
                    <ul>
                        <li>
                            {{fact.name}}
                        </li>
                    </ul>
                </td>
                <td>
                    <button ng-click="editFact(fact)" class="btn btn-default btn-sm">
                        Edit
                    </button>
                    <button ng-click="deleteFact(fact.name)" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>